html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(15px + 0.0399vw);
}

*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
